*.iml
.gradle
local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
*.jks
/app/debug
/app/gradle/
/app/gradlew
/app/gradlew.bat

*__gen.go
*__ignore.go
*.swp
*.swo
~i_*
ig_*
zzzig_*
